.destination{
    background-image: url(../images/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
}
.destination__title{
    /* margin-top: 76px; */
    /* margin-left: 166.5px; */
    font-size: 28px;
    font-family: var(--headings);
    color: var(--White);
    letter-spacing: 4.72px;
    text-transform: uppercase;
}
.destination__title--span{
    margin: 0;
    font-weight: 700;
    filter: opacity(30%);
    margin-right: 34px;
}
.destination__grid{
    display: flex;
    justify-content: space-between;
}
.destination__image{
    /* margin-left: 230px; */
    /* margin-top: 97px; */
    align-self: end;
}
.destination__content{
    /* margin-left: 157px; */
    /* margin-top: 64px; */
    /* margin-top: 98px; */
}
.destination__ul{
    display: flex;
    max-width: 285.5px;
    column-gap: 1rem;
    margin-bottom: 2.5rem;
}
.destination__li{
    list-style: none;
    color: var(--Violet);
    letter-spacing: 2.7px;
    font-size: 16px;
    font-family: var(--headings);
    text-transform: uppercase;
    position: relative;
}
.destination__li:hover{
    cursor: pointer;
}
.destination__li:hover::after{
    background-color: var(--Violet);
    content: '';
    height: 2px;
    position: absolute;
    bottom: -1rem;
    width: 100%;
    left: 0;
}
.destination__li--active{
    color: var(--White);
    position: relative;
}
.destination__li--active::after{
    content: '';
    background-color: var(--White);
    height: 2px;
    position: absolute;
    bottom: -1rem;
    width: 100%;
    left: 0;
}
.destination__name{
    font-size: 100px;
    font-family: var(--titles);
    color: var(--White);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.destination__description{
    line-height: 32px;
    color: var(--Violet);
    max-width: 444px;
    font-family: var(--normal);
}
.destination__extras{
    border-top: 1px solid var(--DarkGray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    padding: 2rem 0 0 0;
}
.destination__text{
    color: var(--Violet);
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--headings);
    letter-spacing: 2.36px;
    margin-bottom: 1rem;
}
.destination__numbers{
    font-family: var(--titles);
    color: var(--White);
    font-size: 28px;
    text-transform: uppercase;
}
@media (width <= 1092px) {
    .destination{
        background-image: url(../images/destination/background-destination-tablet.jpg);
    }
    .destination__title{
        /* margin-left: 28.5px; */
        /* margin-top: 136px; */
        font-size: 20px;
        text-align: center;
        letter-spacing: 3.38px;
    }
    .destination__grid{
        flex-direction: column;
    }
    .destination__image{
        width: 300px;
        margin-inline: auto;
        margin-top: 60px;
    }
    .destination__content{
        margin-inline: auto;
        text-align: center;
        margin-top: 40px;
    }
    .destination__ul{
        justify-content: center;
        max-width: unset;
    }
    .destination__name{
        font-size: 80px;
    }
    .destination__description{
        font-size: 16px;
        line-height: 28px;
        max-width: 573px;
    }
}
@media (width <= 668px) {
   .destination{
        background-image: url(../images/destination/background-destination-mobile.jpg);
    }
    .destination__title{
        font-size: 16px;
        /* margin-top: 88px; */
        text-align: center;
    }
    .destination__title--span{
        margin-right: 15px;
        margin-left: 0;
    }
    .destination__image{
        height: 170px;
        width: 170px;
        margin-top: 40px;
    }
    .destination__li{
        font-size: 14px;
    }
    .destination__name{
        font-size: 56px;
    }
    .destination__description{
        font-size: 15px;
        line-height: 25px;
        max-width: 327px;
    }
    .destination__extras{
       display: flex;
       row-gap: 1rem;
       flex-direction: column;
       margin-top: 1.5rem;
       padding: 1rem 0;
    }
}