.home{
    background-image: url(/images/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.home__container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.home__content{
    max-width: 450px;
    /* min-height: 382px; */
    margin-left: 165px;
    margin-top: 387px;
    align-self: center;
}
.home__title{
    font-family: var(--headings);
    color: var(--Violet);
    font-size: 28px;
    letter-spacing: 4.72px;
}
.home__title--space{
    color: var(--White);
    font-size: 150px;
    font-family: var(--titles);
}
.home__p{
    color: var(--Violet);
    line-height: 32px;
    font-family: var(--normal);
    max-height: 128px;
}
.home__explore{
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 165px;
    margin-top: 495px;
    height: 274px;
    width: 274px;
    background-color: var(--White);
    border-radius: 50%;
    position: relative;
}
.home__explore:hover{
    cursor: pointer;
}
.home__explore::after{
    content: 'explore';
    display: grid;
    height: inherit;
    place-items: center;
    letter-spacing: 2px;
    font-size: 32px;
    text-transform: uppercase;
    font-family: var(--titles);

}
.home__explore:hover::before{
    content: '';
    position: absolute;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: var(--Gray97);
    filter: opacity(10.36%);
}