.home{
    background-image: url(../images/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
}
.home__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.home__content{
    max-width: 450px;
    align-self: flex-end;
}
.home__title{
    font-family: var(--headings);
    color: var(--Violet);
    font-size: 28px;
    letter-spacing: 4.72px;
}
.home__title--space{
    color: var(--White);
    font-size: 150px;
    font-family: var(--titles);
}
.home__p{
    color: var(--Violet);
    line-height: 32px;
    font-family: var(--normal);
    max-height: 128px;
}
.home__explore{
    justify-self: flex-end;
    align-self: flex-end;
    height: 274px;
    width: 274px;
    background-color: var(--White);
    border-radius: 50%;
    position: relative;
}
.home__explore:hover{
    cursor: pointer;
}
.home__explore::after{
    content: 'explore';
    display: grid;
    height: inherit;
    place-items: center;
    letter-spacing: 2px;
    font-size: 32px;
    text-transform: uppercase;
    font-family: var(--titles);

}
.home__explore:hover::before{
    content: '';
    position: absolute;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: var(--Gray97);
    filter: opacity(10.36%);
}
/* Tablets styles */
@media (width <= 1092px) {
   .home{
        background-image: url(../images/home/background-home-tablet.jpg);
    }
   .home__container{
        display: block;
    }
   .home__content{
        margin-top: 202px;
        margin-inline: auto;
    }
   .home__title{
        font-size: 20px;
        text-align: center;
        letter-spacing: 3.38px;
    }
   .home__p{
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }   
   .home__explore{
        margin-top: 156px;
        margin-inline: auto;
        height: 242px;
        width: 242px;
    }

}
@media (width <= 668px) {
    .home{
        background-image: url(../images/home/background-home-mobile.jpg);
    }
    .home__content{
        margin-top: 112px;
        margin-inline: auto;
    }
    .home__title{
        font-size: 16px;
        text-align: center;
        letter-spacing: 2.7px;
        margin-inline: auto;
    }
    .home__title--space{
        font-size: 80px;
        text-align: center;
        margin-top: 1rem;
    }
    .home__p{
        font-size: 15px;
        line-height: 25px;
        max-width: 327px;
        margin-inline: inherit;
    }  
    .home__explore{
        width: 150px;
        height: 150px;
        letter-spacing: 1.25px;
        margin-top: 100px;
    }
    .home__explore::after{
        font-size: 20px;
    }
    .home__explore:hover::before{
        all: unset;
    }
}