.tech{
    background-image: url(images/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.tech__grid{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    margin-left: 165px;
}
.tech__steps{
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 2.5rem;
}
.tech__step{
    height: 80px;
    width: 80px;
    color: var(--White);
    font-size: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--Gray97);
    display: grid;
    place-items: center;
    letter-spacing: 2px;
}
.tech__step:hover{
    cursor: pointer;
    border: 1px solid var(--White);
}
.tech__step--active{
    background-color: var(--White);
    color: var(--Darken);
}
.tech__content{
    margin-left: 80px;
    text-transform: uppercase;
    color: var(--Violet);
    align-self: center;
}
.tech__terminology{
    font-size: 16px;
    letter-spacing: 2.7px;
    font-family: var(--headings);
    margin-bottom: 1rem;
}
.tech__name{
    color: var(--White);
    font-size: 56px;
    font-family: var(--titles);
    margin-bottom: 2rem;
}
.tech__description{
    text-transform: none;
    font-size: 18px;
    font-family: var(--normal);
    line-height: 32px;
    max-width: 444px;
}
.tech__image{
    height: 527px;
    width: 515px;
    justify-self: flex-end;
    object-fit: cover;
}
@media (width <= 1092px) {
    .tech{
        background-image: url(images/technology/background-technology-tablet.jpg);
    }
    .tech__grid{
        display: flex;
        flex-direction: column-reverse;
        margin-inline: auto;
    }
    .tech__image{
        margin-top: 60px;
        height: 310px;
        width: 100%;
    }
    .tech__content{
        text-align: center;
        margin-inline: auto;
        margin-top: 3rem;
    }
    .tech__name{
        font-size: 40px;
    }
    .tech__description{
        font-size: 16px;
        line-height: 28px;
        max-width: 458px;
    }
    .tech__steps{
        flex-direction: row;
        column-gap: 1.5rem;
        margin-top: 3rem;
    }
    .tech__step{
        height: 58px;
        width: 58px;
        font-size: 24px;
    }
}
@media (width <= 668px) {
   .tech{
        background-image: url(images/technology/background-technology-mobile.jpg);
    }
    .tech__grid{
        display: grid;
        grid-template-areas: 
            'image image image'
            'steps steps steps'
            'info info info'
        ;
    }
    .tech__image{
        margin-top: 30px;
        max-height: 170px;
        grid-area: image;
    }
    .tech__steps{
        grid-area: steps;
        justify-self: center;
    }
    .tech__step{
        height: 40px;
        width: 40px;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .tech__content{
        margin-top: 1.5rem;
        grid-area: info;
    }
    .tech__terminology{
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    .tech__name{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .tech__description{
        font-size: 15px;
        line-height: 25px;
    }
}