:root{
  /* Fonts */
  --headings : 'Barlow Condensed', sans-serif;
  --normal: 'Barlow', sans-serif;
  --titles: 'Bellefair', serif;

  /* Sizes */
  --regular: 16px;

  /* Colors */
  --White: hsl(0, 0%, 100%);
  --Gray97: #979797;
  --Violet: #D0D6F9;
  --DarkGray: #383B4B;
  --Darken: #0B0D17;

  --inline-padding: 165px;
  --bottom-padding: 112px;
  --top-padding: 212px;
  

}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0;
  padding: 0;
  font: inherit;
}
body{
  font-size: 18px;
  font-family: var(--fuentePrincipal);
}
img, picture, svg, video{
  display: block;
  max-width: 100%;
}
input, textarea, button, select{
  font: inherit;
}
/* Utilidades */
.container{
  padding-top: var(--top-padding);
  padding-inline: var(--inline-padding);
  padding-bottom: var(--bottom-padding);
  position: relative;
}